.env*
!.env.example

node_modules
package-lock.json
!tasktrail/package-lock.json

tasktrail/public/css
tasktrail/public/media/images/uploads/*
tasktrail/public/media/installers/*
!tasktrail/public/media/images/uploads/userpic.png

dist

agents.md
CHANGES_REGISTER.md